* {
    box-sizing: border-box;
  }

.navbar-brand {
    color:white !important;
    background:cadetblue !important;
    font-family:"New Century Gothic", CenturyGothic, AppleGothic;
    font-size: 25px;
}

.nav-link {
    font-family:"Century Gothic" !important;
    font-size: 20px;

}

#page-container {
    min-height: 100%;
    min-width:100%;
    position:absolute;
    
}
#content-wrap {
    
    height:100%; 
  
  }

body {
    min-height: 100vh;
}

aside {
    float:left;
    /* width:70%; */
    /* height:550px; */
    /* padding:20px; */
    margin-left:20px;
    margin-top:60px;
    margin-bottom:60px;
    background:white;
    /* position:relative;  */
}  

#boxheading {
    font-size:30px;
    float:left;
    color:cadetblue;
    font-weight: bold;

}

#introtext{
    margin-bottom: 20px;
    margin-top:30px;
}



#footer1 {
    padding:15px;
    text-align: center;
    background-color: cadetblue;
    position: absolute;
    right:0;
    bottom:20px;
    left:0;    
}
#footer2{
    text-align: center;
    font-size:15px;
    padding:15px;
    background-color: darkgrey;
    color: grey;
    position: absolute;
    right:0;
    bottom:0;
    left:0;         
}

@media screen and (max-width: 300px) {
    aside {
        margin-left:20px;
        margin-right:20px;
        
    }
    }

@media screen and (min-width: 300px) and (max-width: 575px) {
    aside {
        margin-left:20px;
        margin-right:20px;
        
    }
    } 
   
@media screen and (min-width: 576px) and (max-width:768px){
aside {
    margin-left:20px;
    margin-right:20px;
    padding:20px;
}
#intro {
    margin-left:30px;
}
}
  /* Width at 168px and below */
@media screen and (min-width: 768px) and (max-width:992px) {
aside {
    margin-left:20px;
    margin-right:200px;
    padding:20px;
}
#intro {
    margin-left:30px;
}

}

@media screen and (min-width: 992px) and (max-width:1325px) {
    aside {
        margin-left:20px;
        margin-right:200px;
        padding:20px;
    }
    #intro {
        margin-left:-60px;
    }
    
    }
